$roboto-slab: 'Roboto Slab', ;

.col-span-2 {
    grid-column: span 2;
}

.row-span-2 {
    grid-row: span 2;
}

.rows-2 {
    grid-column: span 2;
}

.column-fill {
    grid-row: span 4;
    grid-column: span 2;
}

body {
    margin: 0px;
    font-family: 'Open Sans', ;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

header {
    box-shadow: 0px 1px 3px 0 rgba(155, 155, 155, 0.2);
    background-color: #fbfbfb;

    .container {
        height: 48px;
        line-height: 48px;
        color: #646464;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }

    .header-adress {
        padding-right: 12px;
        border-right: 1px solid #e6e5e5;
        margin-right: 10px;
    }

    .social-icon + .social-icon {
        margin-left: 12px;
    }

    .social-icon:hover {
        color: #43a906;
        cursor: pointer;
    }
}

.slider {
    background-color: #bdbebd;
    height: 785px;
    position: relative;

    .slider-block {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: all .4s ease-in-out;
        z-index: 0;
        
        &.active {
            opacity: 1;
            z-index: 1;
        }
    }

    .slider-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        bottom: 65%;
    }

    .protect {
        font-size: 45px;
        letter-spacing: -0.23px;
        color: #ffffff;
        text-transform: uppercase;
        height: 32px;
        line-height: 32px;
    }

    .nature {
        width: 1018px;
        height: 124px;
        font-family: Lato;
        font-size: 72px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        height: 60px;
        line-height: 60px;
        padding-top: 32px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .description {
        padding-top: 34px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        width: 641px;
        height: 18px;
        font-family: Lato;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }

    .this-button {
        padding-top: 46px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        .more {
            width: 180px;
            height: 57px;
            border-radius: 2px;
            background-color: #101010;
            font-family: Lato;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
        }
    }

    .circle {
        position: absolute;
        bottom: 31px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        z-index: 1;


        .slider-dot {
            padding: 0px;
            width: 13px;
            height: 13px;
            border: solid 2px #e6e5e5;
            border-radius: 50%;
            background: transparent;
            transition: all .2s ease;

            &:hover {
                cursor: pointer;
            }

            &.active {
                background-color: #e6e5e5;
            }
        }

        .slider-dot + .slider-dot {
            margin-left: 7px;
        }
    }

    .carusel-lens {
        overflow: hidden;
        height: 100%;
    }

    .carusel-slides {
        display: flex;
        height: 100%;
        transition: all .8s ease-in-out;

        .slider-block {
            position: static;
            opacity: 1;
            pointer-events: all;
            width: 100%;
            flex-shrink: 0;
        }
    }
 }



.navigation-panel {
    .logo-text {
        font-size: 29px;
        font-weight: bold;
        position: relative;
        top: 4px;
        color: #3e3e3e;
        font-family: $roboto-slab;
    }

    .leaf-icon {
        position: absolute;
        font-size: 23px;
        top: -10px;
        left: 18px;
        color: #43a906;
    }

    .leaf-icon + .leaf-icon {
        transform: rotateY(180deg);
        left: 42px;
    }
    

    .container {
        display: flex;
        justify-content: space-between;
        height: 105px;
        line-height: 105px;
    }

    .nav-link {
        color: #393939;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-family: $roboto-slab;

        &:hover,
        &.active {
            color: #43a906;
        }

        &.active {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: -20px;
                right: -20px;
                height: 5px;
                background-color: #43a906;
                bottom: -43px;
            }
        }
    }
    .nav-link + .nav-link {
        margin-left: 33px;
    }
}

 #tmp2 {
    background-color: rgb(224, 16, 16);
    height: 645px;
 }

 #tmp3 {
    background-color: rgb(94, 23, 209);
    height: 302px;
 }

.latest-work {
    .container {
        padding: 114px 0;
    }

    h2 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        color: #222222;
        font-family: $roboto-slab;
        text-transform: uppercase;
        margin: 0px;
        height: 27px;
        line-height: 27px;
    }

    .section-description {
        max-width: 880px;
        margin: 30px auto 60px auto;
        text-align: center;
        font-size: 16px;
        line-height: 1.75;
        color: #393939;
    }

    .tab-control {
        text-align: center;
        margin-bottom: 55px;
    }

    .tab-button {
        height: 45px;
        border-radius: 2px;
        border: solid 1px #e9e9e9;
        background-color: #f6f6f6;
        padding: 0 24px;
        font-size: 14px;
        font-weight: 500;
        color: #6a6b6a;
        font-family: $roboto-slab;
        text-transform: uppercase;

        &.active {
            background-color: #43a906;
            color: #ffffff;
        }
    }

    .tab-button + .tab-button {
        margin-left: 6px;
    }

    .tab-item {
        display: none;

        &.active {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 285px;
            gap: 10px;
        }
    }

    .work-case {
        position: relative;

        & > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            object-position: top;
        }

        &:hover .case-description {
        display: flex;
        }
    }

    .case-description {
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        background-color: rgba(3, 3, 3, .85);
        color: white;
        font-family: $roboto-slab;
        font-size: 16px;
        text-transform: uppercase;
    }

}

#tmp4 {
    background-color: rgb(26, 14, 14);
    height: 567px;
 }

#tmp5 {
    background-color: rgb(190, 224, 37);
    height: 955px;
 }

#tmp6 {
    background-color: rgb(233, 86, 118);
    height: 682px;
 }

#tmp7 {
    background-color: rgb(4, 113, 133);
    height: 927px;
 }

#tmp8 {
    background-color: rgb(10, 173, 51);
    height: 200px;
 }

#tmp9 {
    background-color: rgb(207, 132, 34);
    height: 200px;
 }
 
 .map-and-adress {
     height: 852px;
     background-color: #eeeeee;

     .container {
        padding: 114px 0;
    }

    h2 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        color: #222222;
        font-family: $roboto-slab;
        text-transform: uppercase;
        margin: 0px;
        height: 27px;
        line-height: 27px;
    }

    .section-description {
        max-width: 880px;
        margin: 30px auto 60px auto;
        text-align: center;
        font-size: 16px;
        line-height: 1.75;
        color: #393939;
    }

    .mini-head {
        width: 197px;
        height: 17px;
        font-family: $roboto-slab;
        font-size: 22px;
        text-align: center;
        color: #222222;
        text-transform: uppercase;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 33px;
        padding-left: 0px;
    }

    .adress-info {
        display: flex;
        justify-content: space-between;
    }

    .our-office {
        display: inline-block;

        .official-data {
            width: 275px;
            height: 15px;
            font-size: 14px;
            text-align: left;
            color: #696969;
        }
    }

    .form-factor {
        display: inline-block;

        .grid-form {
            display: grid;
            grid-template-rows: repeat(6, 50px);
            grid-template-columns: repeat(2, 280px);
            row-gap: 20px;
            column-gap: 10px;
        }
    }

    .map-in-doc {
        padding: 46px 0px;
    }

    .mapper {
        margin-right: 12px;
    }

    .sub-button {
        padding: 30px 0px;

        .subsub {
            width: 200px;
            height: 50px;
            border-radius: 2px;
            background-color: #43a906;
            font-family: $roboto-slab;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            color: #ffffff;
        }
    }

 }

.end {
    background-color: #222222;
    height: 90px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .text {
        height: 15px;
        line-height: 90px;
        font-family: OpenSans;
        font-size: 14px;
        color: #ffffff;
    }
 }